*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #424242; //#242424 #313131 #3f3f3f
    max-width: 100%;
    overflow-x: hidden;
   
   

    .cursor{
        width: 30px;
        height: 30px;
        border: 2px solid #348b66;
        border-radius: 50%;
        position: absolute;
         z-index: 1001;
        transition: 180ms;
        pointer-events: none;
    }

    .cursor-big{
        width: 70px;
        height: 70px;
        border: 2px solid #348b66;
        border-radius: 50%;
        position: absolute;
         z-index: 1001;
        transition: 150ms;
        pointer-events: none;
    }
    .cursor-big-2{
        width: 150px;
        height: 150px;
        border: 2px solid #348b66;
        border-radius: 50%;
        position: absolute;
         z-index: 1001;
        transition: 150ms;
        pointer-events: none;
    }
    .cursor-big-3{
        width: 300px;
        height: 300px;
        border: 2px solid #348b66;
        border-radius: 50%;
        position: absolute;
         z-index: 1001;
        transition: 150ms;
        pointer-events: none;
    }
}

.container{
   
   
    .margin-top{
        color: #242424;
    }
    width: 100vw;
    overflow: hidden;
    
    nav{
        height: 8vh;
        padding-top: 10px;
        background-color: #161716;
        position: fixed;
        top: 0px;
        width: 100vw;
        z-index: 1;


        
        
        #wrap{
            line-height: 6vh;
            /*display: flex;
            flex-direction: row;
            align-items: center;*/
            
            // color: #45d3a4;
            
            #logo{
                float: left;
                margin-left: 8%;
                color: #00B567;
                font-family: monospace;
                font-size: 15px;
                letter-spacing: 5px;
                font-weight: lighter;
            }  
            
            #sections{
                float: right;
                margin-right: 8%;
                color: #989898;
                font-family:  monospace;
                font-size: 20px;
                letter-spacing: 3px;
                
                ul li{
                    
                    float: left; 
                    padding-right: 30px;
                    list-style: none;
                    a{
                        
                        color: #989898;
                        text-decoration: none;
                        
                        position: relative;

                        &::after{
                            content: '';
                            background-color: #00B567;
                            width: 100%;
                            height: 10%;
                            position: absolute;
                            display: block;
                            transform: scale(0);
                            transition: all 0.2s ease-out;
                        }

                        &:hover::after{
                            transform: scale(1);
                        }
                    }
                    a:hover{
                        color:#00B567;
                    }
                }
            }
        }
    }
    
    #home{
        height: 85vh;
        
        #welcome{
            color: #a5a4a4;
            font-family: monospace;
            font-size: 40px;
            margin-top: 12.5%;
            margin-left: -100%;
            letter-spacing: 6px;
            transition: 1.5s all;
            span:hover{
                
                color: #00B567;
                /*  font-size: 45px;*/
            } 
        }

        #wrap-introduction{
            height: 100%;
            width: 100%;
            display: flex;
            padding-left: 8%;

            #intro{  
                height: 100%;
                flex: 2;
                margin-left: -100%;
                transition: 1.5s all;
                color: #6d6d6d;;
                p{
                    //background-color: #838181;
                    margin-top: 10%;
                   font-family: 'Cutive Mono';
                    font-size: 36px;//35
                   line-height: 45px;
                    letter-spacing: 1.3px; //2

                    
                    /*&::before{    
                        content: '<p>';
                        bottom: 0;
                        display: block;
                        font-size: 22px;
                        font-family: 'Annie Use Your Telescope';
                        margin-bottom: 3%;
                        margin-left: -5%;
                        color: #9e9e9e;

                    }*/
                 /*   &::after{
                        content: '</p>';
                        bottom: 0;
                        display: block;
                        font-size: 22px;
                        font-family: 'Annie Use Your Telescope';
                        margin-top: 3%;
                        margin-left: -5%;
                        color: #9e9e9e;

                    }*/
                }

            }

            #animation{
                height: 100%;
                flex: 3;
               #space{
                   width: 400px;
                   height: 400px;
                   background-color:#161716;
                   display: flex;
                   justify-content: center;
                   border-radius: 100%;
                   margin-left: 15%;
                   overflow: hidden;
                  #rocket{
                    width: 250px;
                    animation: fly 2.5s infinite;
                  }

                  #text-space{
                      transition: all 2s ease-in;
                      color: #fff;
                      height: 10%;
                      text-align: center;
                      margin-top: 10%;
                      display: none;
                      animation: on-off 2.3s infinite;    
                      font-family: 'Cutive Mono', monospace;   
                      font-size: 1.2em;              
                  }

                  #astronaut{
                      width: 150px;
                      margin-top: 10%;
                      visibility: hidden;
                      display: none;
                  }     

                  @keyframes fly {
                    50%{
                        transform: translateY(-12%);
                    }
                 } 

                 @keyframes leave {
                     50%{
                        transform: translateY(-100%);
                     }                   
                 }

                 @keyframes on-off {
                    50%{
                       color: #161716;
                    }
                    100%{
                        color: #fff;

                    }
                 } 

                 @keyframes appear {
                    50%{
                     height: 170px;
                    }
                    100%{
                        height: 150px;
                    }
                 } 
               }
            }
        }
    }

    #skills{
        height: 100vh;
        
        h2{
            color: #a5a4a4;
            font-family: monospace;
            font-size: 35px;
            margin-left: 100px;
            letter-spacing: 6px;
            margin-top: 100px;
        }
        
        .wrap-tech{
            display: flex;
        }
        .icons{
            
            width: 40vw;
            margin-left: 10%;
            margin-top: 5%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 170px 200px 170px 170px;

            .tec{
    
                .icon{
                    margin-top: 10px;
                   // width: 75px;
                    width: 46%;
                    margin-right: 30px;
                    transition: .1s;
                }            

                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: #00B567;
                    width: 6.5%;
                    height: 0.6%;
                    transform: scale(0);
                    transition: all 0.2s ease-out;
                    margin-top: 10px;
                   
                }

                &:hover::after{
                    transform: scale(1);
                   
                }

                &:hover .icon{
                 width: 85px;
                }
            }
          
        }
       
        .tech-text{
            margin-left: 5%;
            margin-top: 6.5%;
            width: 35vw;
            height: 350px;
            font-family: 'Cutive Mono';
            font-size: 1.7rem;
            line-height: 2.5rem;
            color: #a7a7a7;
        }
       
    }

    #portfolio{
        height: 100vh;
        margin-top: 10vh;
        h2{
            color: #a5a4a4;
            font-family: monospace;
            font-size: 35px;
            margin-left: 100px;
            letter-spacing: 6px;
            margin-top: 100px;
        }

        .projects{          
            width: 100vw;
            margin-top: 150px; 
            display: inline-flex;
            flex-direction: row;
            justify-content: space-around;
           

            .project{
                background-color: #838181;
                width: 16%;
                height: 150px;//300
                border-radius: 3%;
        
               
                .title{
                    text-align: center;
                    margin-top: 12%;
                    font-family: monospace;
                    font-size: 20px;
                }
                .arrow{
                   display: flex;
                   margin-top: 20px;
                    .material-icons{
                        font-size: 30px;
                        margin: 0px auto;
                    }
                }

                .github-icon{
                 display: none;
                 margin-top: 40px;
                 margin-bottom: 25px;
                 pointer-events: none;
                 
                    .github{
                        margin: 0px auto;
                        width: 40px;
                        transition: 0.5s ease;
                        &:hover{
                            transform: translateX(-74px);
                        }
                     
                    }      
                    a{
                        list-style: none;
                        text-decoration: none;
                        color: #161716;
                        position: absolute;
                        margin: auto;
                        display: block;
                        pointer-events: none;
                    }
                    p{
                        transform: scale(0);
                        transition: 0.8s ease;
                    }

                
                }

                .description{
                    padding: 10px;
                    display: none;
                    text-align: center;
                    font-family: monospace;
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                a{
                    text-decoration: none;
                    display: block;
                    pointer-events: none;
                    .visit-site{
                        width: 30%;
                        margin: auto;
                        background-color:#989898;
                        text-align: center;
                        border-radius: 15px;
                        padding: 5px;
                        display: none;
                        color: #161716;
                        font-family: monospace;
                        font-size: 0.8rem;
                        
                    
                       
                    }
                }
              
                
            }

            .project:hover{
                //background-color: #928f8f;
                background-color: #348b66;
                height: 300px;
                animation: bounce 0.5s  alternate;

               
            }

            .project:hover .github-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: all;
            }
            .project:hover a{
              pointer-events: all;
            }
            @keyframes bounce {
                50%{
                    transform: translateY(-45px);
                }
             } 

            .project:hover .material-icons{
                display: none;
            }
            .project:hover .github-icon{
                display:flex;
            }

            .project:hover .description{
                display: block;
            }
            .project:hover .visit-site{
                display: block;
               
            }
        }
    }

    #contact{   
        height: 70vh;
        h2{
            color: #a5a4a4;
            font-family: monospace;
            font-size: 35px;
            margin-left: 100px;
            letter-spacing: 6px;
            margin-top: 100px;
        }

        .social{
            margin-top: 8%;        
            display: flex;
            flex-direction: column;
          align-items: center;
            .gmail{
                display: flex;
                cursor: pointer;
         
                .email{
                 width: 300px;
                 height: 35px;
                 line-height: 20px;
                  margin-left: 2%;
                  padding: 5%;
                  font-size: 1.4rem;
                  color: #fff;
                  border: 1px solid #fff;
                  text-align: center;
                  border-radius: 100px;
                  font-family:'Cutive Mono';
                }
            }
            .linkedin{
                margin-top: 5%;
                display: flex;
                cursor: pointer;
                img{
                    width: 90px;
                    margin-left: 4%;
                }
            }
        }
    }
}

